.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr 60px;
    background-color: pink;
    padding: 5px;
    gap: 2px;
    grid-template-areas: 
    'header	header	header	header	header	header'
    'side	side	main	main	main	main'
    'side	side	footer	footer	footer	footer';
  }
  .grid-content {
    background-color: #f1f1f1;
    padding: 3px;
    font-size: 12px;
    
    gap: 3px;
  }
  .header {
      grid-area: header;
  }
  .side {
      grid-area: side;
  }
  .main {
      grid-area: main;
  }
  .footer {
      grid-area: footer;
  }
  
  .nav__button {
	background-color: pink;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.dropbtn {
  background-color: pink;
  color: black;
  padding: 12px 32px;
  margin: 4px 2px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 3px;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(253, 206, 214);
  border-radius: 4px;
  min-width: 160px;
  box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}
